/* build time:Thu Jan 08 2026 01:06:18 GMT+0800 (中国标准时间)*/
.highlight .copy-btn:focus,.highlight:hover .copy-btn{opacity:1}.copy-btn{color:var(--grey-7);cursor:pointer;line-height:1.6;opacity:0;padding:2px 6px;position:absolute;background:var(--grey-1);border:0;font-size:$font-size-smaller;right:0;top:0}
/* rebuild by hrmmi */