/* build time:Thu Jan 08 2026 00:31:16 GMT+0800 (中国标准时间)*/
.pieTitleText,.slice{font-family:var(--mermaid-font-family)}.pieTitleText{text-anchor:middle;font-size:25px;fill:$taskTextDarkColor}
/* rebuild by hrmmi */